@import url(https://fonts.googleapis.com/css?family=Open+Sans);

h1.ui.header {
  font-family: 'Open Sans', sans-serif!important;
  font-size: 5em!important;
  font-weight: normal;
}

@media only screen and (min-width : 1355px) {
  .libscode.firstpage .masthead {
    padding: 7rem 0 15em 0 !important;
  }
  .libscode .masthead.segment .image {
    width: 600px !important;
  }
  .libscode.firstpage .masthead .landing p {
    padding: 0em 8em !important;
  }
}
@media only screen and (min-width : 1200px) and (max-width: 1355px) {
  .libscode.firstpage .masthead {
    padding: 6rem 0 17em 0 !important !important;
  }
  .libscode .masthead.segment .image {
    width: 600px !important;
  }
  .libscode.firstpage .masthead .landing p {
    padding: 0em 8em !important;
  }
}
@media only screen and (min-width : 998px) and (max-width: 1200px) {
  .libscode.firstpage .masthead {
    padding: 5rem 0 16em 0 !important;
  }
  .libscode .masthead.segment .image {
    width: 400px !important;
  }
  .libscode.firstpage .masthead .landing p {
    /*padding: 0em 10em !important;*/
    font-size: 1.3em !important;
  }
}
@media only screen and (max-width : 998px) {
  .libscode.firstpage .masthead {
    padding: 4rem 0 14em 0 !important;
  }
  .libscode .masthead.segment .image {
    width: 400px !important;
  }
  .libscode.firstpage .masthead .landing p {
    /*padding: 0em 13em !important;*/
    font-size: 1em !important;
  }
}
@media only screen and (max-width: 768px) {
  .libscode.firstpage .masthead {
    padding: 5rem 0 14em 0 !important;
  }
  .libscode .masthead.segment .image {
    width: 200px !important;
  }

  .libscode .masthead.segment .column p {
    display: block;
  }
}
@media only screen and (max-width: 538px) {
  .libscode.firstpage .masthead {
    padding: 6rem 0 3em 0 !important;
  }
  .libscode .masthead.segment .image {
    width: 200px !important;
  }
  .container.registration {
    display: none !important;
  }
}
@media only screen and (max-width: 308px) {
  body {
    min-width: 100% !important;
  }
  .libscode .masthead.segment .image {
    width: 100px !important;
  }
  .container.registration {
    display: none !important;
  }
}