body {
  margin: 0;
  padding: 0;
  background-color: #333;
}
.container {
    margin: 0 auto;
    padding-top: 10%;
    padding-left: 20%;
    padding-right: 20%;
}
p {
  display: inline-block;
}
.text-editor-wrap {
  color: #444;
  display: block;
  margin: auto;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 20px 80px;
  clear: both;
  overflow: hidden;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.title-bar {
  padding: 10px 0;
  font-family: "Lucida Grande", sans-serif;
  font-size: 1em;
  text-align: center;
  text-shadow: rgba(255, 255, 255, 0.8) 0px 1px 0px;
  background-color: #f8f8f8 !important;
  background-image: -webkit-linear-gradient(top, #e8e8e8, #bcbbbc);
  background-image: -moz-linear-gradient(top, #e8e8e8, #bcbbbc);
  background-image: linear-gradient(top, #e8e8e8, #bcbbbc);
  box-shadow: inset rgba(255, 255, 255, 0.7) 0px 1px 1px;
  border-bottom: #6a6a6a 1px solid;
}

.text-body {
  height: 300px;
  background-color: rgba(0, 0, 0, 0.85) !important;
  padding: 10px;
  color: #f0f0f0 !important;
  text-shadow: #000 0px 1px 0px;
  font-family: "Consolas", "Courier New", "Courier";
  font-size: 1.75em;
  line-height: 1.40em;
  font-weight: 500;
  text-align: left;
  overflow: hidden;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  word-wrap: break-word;
}

.four-empty-four {
    text-align: center;
    font-size: 75px;
    margin: 0.5em 0 0.5em;
    line-height: 75px;
}

.hostname {
  font-size: 0.7em;
  float: left;
  display: inline;
  margin-top: 5px;
      margin-right: 5px;
      color: #87ceeb;
}

.hostname .prompt {
  color: #cd5c5c;
}

.text-body p {
  font-size: 0.8em;
  text-align: center;
  margin: 0;
}

.typed-cursor {
  opacity: 1;
  font-weight: 100;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  -ms-animation: blink 0.7s infinite;
  -o-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

.text-body .typed-cursor {
  color: #F3F3F3;
}

@-keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
@-webkit-keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
@-ms-keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}