html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  position: relative;
}

body {
  overflow: hidden;
  background-color: #f68734;
  background-image: -webkit-linear-gradient(#f68734, #F68E3E);
  background-image: -o-linear-gradient(#f68734, #F68E3E);
  background-image: linear-gradient(#f68734, #F68E3E);
}

#wrap {
  width: 1000px;
  display: flex;
  margin: 0 auto;
  min-height: 620px;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.cloud-libscode {
  top: 100px;
  left: 290px;
  z-index: 10;
  position: absolute;
  transition: all 0.1s ease;
}

.cloud-emot {
  top: 50%;
  right: 50%;
  z-index: 8;
  width: 604px;
  height: 134px;
  position: absolute;
  margin: 115px -335px 0 0;
}

::-moz-selection {
  background: rgba(37, 37, 37, 0.45);
}

::selection {
  background: rgba(37, 37, 37, 0.45);
}