@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  position: relative;
  font-family: 'Lato', sans-serif;
}

body {
  overflow: hidden;
  background-color: #f68734;
  background-image: -webkit-linear-gradient(#f68734, #F68E3E);
  background-image: -o-linear-gradient(#f68734, #F68E3E);
  background-image: linear-gradient(#f68734, #F68E3E);
}

.container {
  width: 100vw;
  display: flex;
  margin: 0 auto;
  height: 100vh;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.cloud-libscode {
  z-index: 10;
  position: absolute;
  transition: all 0.1s ease;
}

.cloud-caption {
  top: 3vh;
  position: absolute;
}

.cloud-caption h1 {
  font-size: 5em;
  color: #2e2e2c;
  font-weight: 700;
}

@media only screen and (max-width : 600px) {
  .cloud-caption h1 {
    font-size: 3em;
  }
}

::-moz-selection {
  background: rgba(37, 37, 37, 0.45);
}

::selection {
  background: rgba(37, 37, 37, 0.45);
}