body {
    background-color: #f1f1f1;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.container {
    margin: 50px auto 40px auto;
    text-align: center;
}
h1 {
    position: relative;
    line-height: 35px;
    font-size: 35px;
    font-weight: 100;
    margin: 0px 0 50px 0;
    text-shadow: 0 1px 0 #fff;
    text-align: center;
}
.message {
    width: 65%;
    margin: 0 auto;
    text-align: left;
}
.heading {
    font-size: large;
    text-align: center;
}
p {
    color: rgba(0, 0, 0, 0.5);
    margin: 20px 0;
    font-size: 14px;
    line-height: 14px;
}